<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792133017378-23lmuki42qjs3d0s1e85egepphfp9rp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792133017378-23lmuki42qjs3d0s1e85egepphfp9rp3</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ-Tb5j7lokT8nh01Ftv8HHYsZRVpidK8</string>
	<key>GCM_SENDER_ID</key>
	<string>792133017378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nusSocial</string>
	<key>PROJECT_ID</key>
	<string>nusocial-4c9b4</string>
	<key>STORAGE_BUCKET</key>
	<string>nusocial-4c9b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792133017378:ios:4681e1425cbf06c2f54f7b</string>
</dict>
</plist>